@font-face {
    font-display: swap;
    font-family: Erply Ladna;
    font-weight: 400;
    src: url(fonts/ErplyLadna-Regular.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Erply Ladna;
    font-weight: 500;
    src: url(fonts/ErplyLadna-Medium.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Erply Ladna;
    font-weight: 600;
    src: url(fonts/ErplyLadna-SemiBold.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Erply Ladna;
    font-weight: 700;
    src: url(fonts/ErplyLadna-Bold.woff2) format("woff2");
}

:root {
    font: 400 16px/20px Erply Ladna, Helvetica, sans-serif;

    --color-primary-white: #FFFFFF;
    --color-primary-black: #1D2433;
    --color-secondary-black: rgba(29, 36, 51, .75);

    --color-paragraph-300-light: rgba(29, 36, 51, .8);

    --color-background: #FFFFFF;
    --color-aside-background: #F8F9FC;

    --color-neutral-100: #F8F9FC;
    --color-neutral-200: #F1F3F9;
    --color-neutral-300: #E1E6EF;

    --color-light-neutral-450: #BFCBD9;
    --color-light-disabled-black: rgba(29, 36, 51, .5);

    --color-light-primary-800: #166EE8;
    --color-primary-100: #E8F1FE;
    --color-primary-300: #ACCBF6;
    --color-button-background: #F8F9FC;

    --color-semantic-pending-text: #1D2433;
    --color-semantic-pending-background: #F8F9FC;
    --color-semantic-progress-text: #3D8AF6;
    --color-semantic-progress-background: #E8F1FE;
    --color-semantic-success-text: #5ABB7A;
    --color-semantic-success-background: #F0FFF5;
    --color-semantic-warning-text: #E0593E;
    --color-semantic-warning-background: #FFEFEC;
    --color-semantic-complete-text: #1D2433;
    --color-semantic-complete-background: #F8F9FC;

    --layout-border-width: .063rem;

    --layout-columns: 1fr 25%;
    --layout-rows: auto 1fr;
    --layout-areas: "header header" "main aside";

    --layout-font-size: .875rem;
    --layout-line-height: 1.25rem;

    --layout-padding-vertical: 1rem;
    --layout-padding-horizontal: 1.5rem;

    --layout-gap: .5rem;
    --layout-gap-large: 1.25rem;
    --layout-gap-small: .25rem;
    
    --layout-text-small-font-size: .75rem;
    --layout-text-small-line-height: 1rem;
    --layout-text-tiny-font-size: .625rem;
    --layout-text-tiny-line-height: .875rem;

    --layout-header-padding: .5rem 1.5rem;
    --layout-header-letter-spacing: -.063rem;

    --layout-aside-padding: 1rem;
    --layout-aside-gap: 1.5rem;

    --layout-heading-font-size: 1.25rem;
    --layout-heading-line-height: 1.5rem;

    --layout-textblock-after-header-margin: .625rem 0 0;
    --layout-textblock-margin: 1rem 0;

    --layout-span-letter-spacing: .002rem;
    --layout-span-radius: .188rem;
    
    --layout-screenreader-top: 3rem;
    --layout-screenreader-left: 25vw;
    --layout-screenreader-right: 25vw;

    --layout-presentation-padding: .75rem 1.5rem;

    --layout-pagination-current-width: 1rem;

    --layout-input-font-size: 1rem;
    --layout-input-line-height: 1.25rem;
    --layout-input-padding: .5rem .625rem;
    --layout-input-radius: .25rem;
    --layout-input-search-padding: .5rem .563rem .5rem 2.375rem;
    --layout-input-small-font-size: .875rem;
    --layout-input-small-line-height: 1.25rem;

    --layout-select-padding: .313rem 2rem .313rem .625rem;
    --layout-select-background-size: 1rem;
    --layout-select-background-position: calc(100% - .5rem) center;
    --layout-select-small-padding: .313rem 1.5rem .313rem .625rem;

    --layout-button-font-size: 1rem;
    --layout-button-line-height: 1.25rem;
    --layout-button-padding: .563rem 1.063rem;
    --layout-button-radius: .313rem;
    --layout-button-text-padding-side: .5rem;
    --layout-button-default-padding: .563rem .25rem;
    --layout-button-presentational-line-height: 1rem;
    --layout-button-functional-padding: .563rem;
    --layout-button-presentational-padding: .313rem .313rem;
    --layout-button-accent-line-height: 1.25rem;
    --layout-button-accent-padding: .688rem .25rem;
    --layout-button-accent-margin: -.125rem 0;

    --layout-table-header-padding: .813rem .25rem;
    --layout-table-header-line-height: 1.063rem;
    --layout-table-cell-padding: .469rem .25rem;
    --layout-table-cell-height: 4rem;
    --layout-table-cell-control-margin: -.156rem -.156rem -.25rem;
    --layout-table-cell-control-width: 5%;
    --layout-table-cell-type-width: 18%;
    --layout-table-cell-date-width: 14%;
    --layout-table-cell-name-width: 22%;
    --layout-table-cell-location-width: 12%;
    --layout-table-cell-state-width: 13%;
    --layout-table-cell-total-width: 10%;

    --layout-icon-search-left: .5rem;

    --layout-search-query-flex-directon: row;

    --layout-checkbox-size: 1.25rem;

    --layout-form-inline-height: 1.063rem;

    --layout-notice-padding: .125rem .25rem;
    --layout-state-padding: .25rem .5rem;
    --layout-state-margin-bottom: -.25rem;
}

@media screen and (max-width: 768px) {
    :root {
        --layout-columns: auto;
        --layout-rows: auto auto auto;
        --layout-areas: "header" "main" "aside";

        --layout-header-padding: var(--layout-gap) var(--layout-aside-padding);

        --layout-padding-vertical: var(--layout-gap);
        --layout-padding-horizontal: var(--layout-aside-padding);
        --layout-presentation-padding: var(--layout-gap) var(--layout-aside-padding);
        --layout-table-cell-control-width: 1.25rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    :root {
        --layout-search-query-flex-directon: column;
    }
}


* {
    box-sizing: border-box;
}



html,
body {
    height: 100%;

    margin: 0;
    padding: 0;
    
    color: var(--color-font);
    background-color: var(--color-background);

    -webkit-font-smoothing: antialiased;
}



body {
    display: grid;
    
    grid-template-columns: var(--layout-columns);
    grid-template-rows: var(--layout-rows);
    grid-template-areas: var(--layout-areas);

    font-size: var(--layout-font-size);
    line-height: var(--layout-line-height);

    min-height: 100vh;
}



a {
    color: var(--color-light-primary-800);
    text-decoration: none;
}



svg {
    box-sizing: content-box;
    display: block;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--layout-header-margin);
    letter-spacing: var(--layout-header-letter-spacing);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
    margin-bottom: 0;
}



p {
    margin: var(--layout-textblock-margin);
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin: var(--layout-textblock-after-header-margin);
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}


svg[width="12"] {
    padding: .25rem;
    width: .75rem;
    height: .75rem;
}

svg[width="16"] {
    padding: .125rem;
    width: 1rem;
    height: 1rem;
}

svg[width="20"] {
    width: 1.25rem;
    height: 1.25rem;
}

svg[width="24"] {
    width: 1.5rem;
    height: 1.5rem;
}

input,
fieldset,
button,
select {
    appearance: none;
    -webkit-appearance: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

label {
    color: var(--color-paragraph-300-light);
}

.label--presentational {
    align-self: center;
    font-size: var(--layout-text-small-font-size);
    line-height: var(--layout-text-small-line-height);
}

input[type="text"] {
    padding: var(--layout-input-padding);
    font-size: var(--layout-input-font-size);
    line-height: var(--layout-input-line-height);
    border: var(--layout-border-width) solid var(--color-light-neutral-450);
    border-radius: var(--layout-input-radius);
}

.input--inline[type="text"] {
    display: inline;
    padding: 0;
    border: none;
    background: transparent;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}


.label--presentational[type="text"] {
    font-size: var(--layout-text-small-font-size);
    line-height: var(--layout-text-small-line-height);
}



input[type="checkbox"] {
    width: var(--layout-checkbox-size);
    height: var(--layout-checkbox-size);
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

input[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='3.5' y='3.5' width='13' height='13' rx='2' fill='white' stroke='%23ADBBCA' stroke-width='2'/%3e%3c/svg%3e");
    
}

input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='2.5' y='2.5' width='15' height='15' rx='3' fill='%233D8AF6'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6781 7.73361C14.9221 7.48953 14.9221 7.0938 14.6781 6.84973C14.434 6.60565 14.0382 6.60565 13.7942 6.84973L8.26389 12.38L6.06694 10.1831C5.82286 9.93898 5.42714 9.93898 5.18306 10.1831C4.93898 10.4271 4.93898 10.8229 5.18306 11.0669L7.82195 13.7058C8.06602 13.9499 8.46175 13.9499 8.70583 13.7058L14.6781 7.73361Z' fill='white'/%3e%3c/svg%3e");
}

input[type="checkbox"]:not(:checked)[indeterminate],
input[type="checkbox"]:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16667 3H15.8333C16.75 3 17.5 3.75 17.5 4.66667V16.3333C17.5 17.25 16.75 18 15.8333 18H4.16667C3.25 18 2.5 17.25 2.5 16.3333V4.66667C2.5 3.75 3.25 3 4.16667 3ZM13.3333 11.3333H6.66667C6.20643 11.3333 5.83333 10.9602 5.83333 10.5C5.83333 10.0398 6.20643 9.66667 6.66667 9.66667H13.3333C13.7936 9.66667 14.1667 10.0398 14.1667 10.5C14.1667 10.9602 13.7936 11.3333 13.3333 11.3333Z' fill='%233D94F6'/%3e%3c/svg%3e");
}

select {
    appearance: none;

    padding: var(--layout-select-padding);

    font-family: Erply Ladna;
    font-size: var(---layout-input-font-size);
    line-height: var(---layout-input-line-height);

	color: var(--color-secondary-black);
	
    background-color: transparent;
	background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M10.3883 12.3294L14.0048 8.49415C14.3507 8.12728 14.1057 7.5 13.6165 7.5L6.38358 7.5C5.89436 7.5 5.64936 8.12728 5.99529 8.49415L9.61173 12.3294C9.82618 12.5569 10.1739 12.5569 10.3883 12.3294Z' fill='%231D2433' fill-opacity='0.75'/%3e %3c/svg%3e");
    background-size: var(--layout-select-background-size);
    background-position: var(--layout-select-background-position);
    background-repeat: no-repeat;

    border: var(--layout-border-width) solid var(--color-light-neutral-450);
    border-radius: var(--layout-input-radius);
}

.select--presentational {
    padding: var(--layout-select-small-padding);
    
    font-size: var(--layout-input-small-font-size);
    line-height: var(--layout-input-small-line-height);
}




.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--layout-gap);
}



.button {
    display: inline-flex;
    padding: var(--layout-button-padding);
    border: var(--layout-border-width) solid var(--color-primary-300);
    font-size: var(--layout-button-font-size);
    line-height: var(--layout-button-line-height);
    font-weight: 400;
    color: var(--color-light-primary-800);
    background-color: var(--color-primary-100);
    cursor: pointer;
    gap: var(--layout-gap-small);
    border-radius: var(--layout-button-radius);
    align-items: center;
    justify-content: center;
}

.button--functional {
    color: var(--color-primary-black);
    border-color: var(--color-neutral-200);
    background: var(--color-neutral-200);
    padding: var(--layout-button-functional-padding);
}

.button--default {
    color: var(--color-primary-white);
    background-color: var(--color-semantic-success-text);
    border-color: var(--color-semantic-success-text);
    padding: var(--layout-button-default-padding);
}

.button--presentational {
    line-height: var(--layout-button-presentational-line-height);
    padding: var(--layout-button-presentational-padding);
    border-color: var(--color-neutral-200);
    background: var(--color-neutral-200);
}

.button--presentational:disabled {
    cursor: default;
    background: var(--color-neutral-100);
    border-color: var(--color-neutral-100);
}

.button--accent {
    line-height: var(--layout-button-accent-line-height);
    padding: var(--layout-button-accent-padding);
    margin: var(--layout-button-accent-margin);
}

.button--inline {
    display: inline-block;
    padding: 0;
    border: none;
    background: transparent;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.button__icon {
    fill: #FFFFFF;
    flex: none;
}




.button .text {
    padding-top: var(--layout-border-width);
    margin-bottom: calc(-1 * var(--layout-border-width));
}

.button .text:not(:only-child):first-child {
    padding-left: var(--layout-button-text-padding-side);
}
.button .text:not(:only-child):last-child {
    padding-right: var(--layout-button-text-padding-side);
}



.header {
    grid-area: header;

    padding: var(--layout-header-padding);

    background-color: var(--color-neutral-300);
}

.header__title {
    font-size: var(--layout-heading-font-size);
    line-height: var(--layout-heading-line-height);
    font-weight: 400;
    color: var(--color-secondary-black);

    margin: 0;
    padding: 0;
}



.main {
    grid-area: main;
}



.aside {
    grid-area: aside;

    display: flex;
    flex-direction: column;
    padding: var(--layout-aside-padding);
    background-color: var(--color-aside-background);
    gap: var(--layout-aside-gap);
}

.aside a {
    color: var(--color-secondary-black);
}

.aside_header {
    display: flex;
    flex: 1;


}

.aside__heading {
    font-size: var(--layout-heading-font-size);
    line-height: var(--layout-heading-line-height);
    color: var(--color-secondary-black);
    font-weight: 400;
    margin: 0;
}



.presentation {
    padding: var(--layout-presentation-padding)
}


.dropdown {
    display: flex;
    gap: var(--layout-gap);
    align-items: baseline;
}

.pagination {
    display: flex;
    gap: var(--layout-gap);
}

.pagination > * {
    order: 1;
}

.pagination__current {
    text-align: center;
    width: var(--layout-pagination-current-width);
}



.scrollable {
    overflow: auto;
    min-width: 33rem;
}



.table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
}

.table__row:has(:checked) {
    background-color: var(--color-primary-100);
}

.table__header,
.table__cell {
    font-size: var(--layout-font-size);
    line-height: var(--layout-line-height);

    padding: var(--layout-table-header-padding);
}

.table__header:first-child,
.table__cell:first-child {
    padding-left: var(--layout-padding-horizontal);
}

.table__header:last-child,
.table__cell:last-child {
    padding-right: var(--layout-padding-horizontal);
}


.table__header {
    font-weight: 600;
    background: var(--color-neutral-200);
    line-height: var(--layout-table-header-line-height);
    letter-spacing: var(--layout-span-letter-spacing);


    text-align: left;
}

.table__cell {
    padding: var(--layout-table-cell-padding);
    border-bottom: 1px solid var(--color-neutral-200);
    height: var(--layout-table-cell-height);
}

.table__cell > *:not(:last-child) {
    display: block;
}

.table__cell--control {
    width: var(--layout-table-cell-control-width);
    box-sizing: content-box;
    height: auto;
}

.table__cell--control input[type="checkbox"],
.table__cell--control button {
    margin: var(--layout-table-cell-control-margin);
}

.table__cell--control .button--inline {
    display: block;
    margin: 0 0 0 auto;
}

.table__cell--numeric {
    text-align: right;
}

.table--cell--type {
    width: var(--layout-table-cell-type-width);
}

.table--cell--date {
    width: var(--layout-table-cell-date-width);
}

.table--cell--name {
    width: var(--layout-table-cell-name-width);
}

.table--cell--location {
    width: var(--layout-table-cell-location-width);
}

.table--cell--state {
    width: var(--layout-table-cell-state-width);
}

.table--cell--total {
    width: var(--layout-table-cell-total-width);
}



.label {
    font-size: var(--layout-text-tiny-font-size);
    line-height: var(--layout-text-tiny-line-height);
    color: var(--color-secondary-black);
}



.state {
    display: inline-block;
    font-size: var(--layout-text-small-font-size);
    line-height: var(--layout-text-small-line-height);
    letter-spacing: var(--layout-span-letter-spacing);
    text-transform: uppercase;
    padding: var(--layout-state-padding);
    border-radius: var(--layout-span-radius);
    text-align: center;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    margin-bottom: var(--layout-state-margin-bottom);
}

.state:before {
    content: '';
    display: inline-block;
    width: var(--layout-gap);
    height: var(--layout-gap);
    margin-right: calc(var(--layout-gap) / 2);
    border-radius: 50%;
    background-color: currentColor;
}

.state--complete {
    color: var(--color-semantic-complete-text);
    background-color: var(--color-semantic-complete-background);
}

.state--pending {
    color: var(--color-semantic-pending-text);
    background-color: var(--color-semantic-pending-background);
}

.state--progress {
    color: var(--color-semantic-progress-text);
    background-color: var(--color-semantic-progress-background);
}

.state--success {
    color: var(--color-semantic-success-text);
    background-color: var(--color-semantic-success-background);
}

.notice {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--layout-text-small-font-size);
    line-height: var(--layout-text-small-line-height);
    letter-spacing: var(--layout-span-letter-spacing);
    color: var(--color-semantic-warning-text);
    background-color: var(--color-semantic-warning-background);
    padding: var(--layout-notice-padding);
    border-radius: var(--layout-span-radius);
    margin-top: var(--layout-border-width);
}
.notice:first-child {
    margin-top: 0;
}


.search {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap);
}

.search > * {
    flex: 0;
    width: 100%;
}

.search__index {
    text-align: center;
    color: var(--color-light-disabled-black);
    font-size: var(--layout-font-size);
    line-height: var(--layout-form-inline-height);
}

.search__query {
    position: relative;
    display: flex;
    gap: var(--layout-gap-small);
    flex-direction: var(--layout-search-query-flex-directon);
}

.search__input[type="text"] {
    flex: 3 1;
    padding: var(--layout-input-search-padding);
    font-size: var(--layout-input-font-size);
    line-height: var(--layout-input-line-height);
    width: 100%;

    background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.79166 8.74999C4.79166 6.56386 6.56386 4.79166 8.74999 4.79166C10.9361 4.79166 12.7083 6.56386 12.7083 8.74999C12.7083 10.9361 10.9361 12.7083 8.74999 12.7083C6.56386 12.7083 4.79166 10.9361 4.79166 8.74999ZM8.74999 3.54166C5.87351 3.54166 3.54166 5.87351 3.54166 8.74999C3.54166 11.6265 5.87351 13.9583 8.74999 13.9583C9.96796 13.9583 11.0883 13.5403 11.9753 12.8398C11.9988 12.876 12.0263 12.9102 12.058 12.9419L16.2247 17.1086C16.4688 17.3527 16.8645 17.3527 17.1086 17.1086C17.3527 16.8645 17.3527 16.4688 17.1086 16.2247L12.9419 12.058C12.9102 12.0263 12.876 11.9988 12.8398 11.9753C13.5403 11.0883 13.9583 9.96796 13.9583 8.74999C13.9583 5.87351 11.6265 3.54166 8.74999 3.54166Z' fill='%231D2433' fill-opacity='0.5'/%3e %3c/svg%3e");
    background-size: var(--layout-input-line-height);
    background-position: var(--layout-icon-search-left) center;
    background-repeat: no-repeat;
}

.search__button {
    flex: 1 0;
    width: 100%;
}



.nobr {
    white-space: nowrap;
}



.currency {
    white-space: nowrap;
}



.list {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap);
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__item {
    display: flex;
    gap: var(--layout-gap);
    margin: 0;
    padding: 0;
    align-items: center;
}


.list__item:before {
    flex: none;
    content: '';
    display: inline-block;
    width: var(--layout-gap);
    height: var(--layout-gap);
    border-radius: 50%;
    background-color: var(--color-neutral-300);
}



.removable {
    background-color: var(--color-neutral-300);
    border-radius: var(--layout-button-radius);
    padding: 1rem var(--layout-padding-horizontal);
}
.removable__heading {
    margin: 0;
    color: var(--color-secondary-black);
    font-weight: 700;
    font-size: var(--layout-heading-font-size);
    line-height: var(--layout-heading-line-height);
}

.removable__close {
    align-self: flex-start;
    line-height: 0;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
}



.screanreader {
    display: block;
    text-align: center;
    top: var(--layout-screenreader-top);
    left: var(--layout-screenreader-left);
    right: var(--layout-screenreader-right);
    bottom: auto;
    margin: 0 auto;
    width: auto;
    padding: var(--layout-button-padding);
    position: fixed;
    opacity: 0;
    transform: translateY(-100vw);
    border: var(--layout-border-width) solid var(--color-primary-300);
    border-radius: var(--layout-button-radius);
    font-weight: 400;
    font-size: var(--layout-button-font-size);
    line-height: var(--layout-button-line-height);
    color: var(--color-light-primary-800);
    background: var(--color-primary-100);
    transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
}
  
.screanreader:focus {
    opacity: 1;
    transform: translateY(0%);
}
