.button {
    display: inline-flex;
    padding: var(--layout-button-padding);
    border: var(--layout-border-width) solid var(--color-primary-300);
    font-size: var(--layout-button-font-size);
    line-height: var(--layout-button-line-height);
    font-weight: 400;
    color: var(--color-light-primary-800);
    background-color: var(--color-primary-100);
    cursor: pointer;
    gap: var(--layout-gap-small);
    border-radius: var(--layout-button-radius);
    align-items: center;
    justify-content: center;
}

.button--functional {
    color: var(--color-primary-black);
    border-color: var(--color-neutral-200);
    background: var(--color-neutral-200);
    padding: var(--layout-button-functional-padding);
}

.button--default {
    color: var(--color-primary-white);
    background-color: var(--color-semantic-success-text);
    border-color: var(--color-semantic-success-text);
    padding: var(--layout-button-default-padding);
}

.button--presentational {
    line-height: var(--layout-button-presentational-line-height);
    padding: var(--layout-button-presentational-padding);
    border-color: var(--color-neutral-200);
    background: var(--color-neutral-200);
}

.button--presentational:disabled {
    cursor: default;
    background: var(--color-neutral-100);
    border-color: var(--color-neutral-100);
}

.button--accent {
    line-height: var(--layout-button-accent-line-height);
    padding: var(--layout-button-accent-padding);
    margin: var(--layout-button-accent-margin);
}

.button--inline {
    display: inline-block;
    padding: 0;
    border: none;
    background: transparent;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.button__icon {
    fill: #FFFFFF;
    flex: none;
}




.button .text {
    padding-top: var(--layout-border-width);
    margin-bottom: calc(-1 * var(--layout-border-width));
}

.button .text:not(:only-child):first-child {
    padding-left: var(--layout-button-text-padding-side);
}
.button .text:not(:only-child):last-child {
    padding-right: var(--layout-button-text-padding-side);
}
