label {
    color: var(--color-paragraph-300-light);
}

.label--presentational {
    align-self: center;
    font-size: var(--layout-text-small-font-size);
    line-height: var(--layout-text-small-line-height);
}

input[type="text"] {
    padding: var(--layout-input-padding);
    font-size: var(--layout-input-font-size);
    line-height: var(--layout-input-line-height);
    border: var(--layout-border-width) solid var(--color-light-neutral-450);
    border-radius: var(--layout-input-radius);
}

.input--inline[type="text"] {
    display: inline;
    padding: 0;
    border: none;
    background: transparent;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}


.label--presentational[type="text"] {
    font-size: var(--layout-text-small-font-size);
    line-height: var(--layout-text-small-line-height);
}



input[type="checkbox"] {
    width: var(--layout-checkbox-size);
    height: var(--layout-checkbox-size);
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

input[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='3.5' y='3.5' width='13' height='13' rx='2' fill='white' stroke='%23ADBBCA' stroke-width='2'/%3e%3c/svg%3e");
    
}

input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='2.5' y='2.5' width='15' height='15' rx='3' fill='%233D8AF6'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6781 7.73361C14.9221 7.48953 14.9221 7.0938 14.6781 6.84973C14.434 6.60565 14.0382 6.60565 13.7942 6.84973L8.26389 12.38L6.06694 10.1831C5.82286 9.93898 5.42714 9.93898 5.18306 10.1831C4.93898 10.4271 4.93898 10.8229 5.18306 11.0669L7.82195 13.7058C8.06602 13.9499 8.46175 13.9499 8.70583 13.7058L14.6781 7.73361Z' fill='white'/%3e%3c/svg%3e");
}

input[type="checkbox"]:not(:checked)[indeterminate],
input[type="checkbox"]:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16667 3H15.8333C16.75 3 17.5 3.75 17.5 4.66667V16.3333C17.5 17.25 16.75 18 15.8333 18H4.16667C3.25 18 2.5 17.25 2.5 16.3333V4.66667C2.5 3.75 3.25 3 4.16667 3ZM13.3333 11.3333H6.66667C6.20643 11.3333 5.83333 10.9602 5.83333 10.5C5.83333 10.0398 6.20643 9.66667 6.66667 9.66667H13.3333C13.7936 9.66667 14.1667 10.0398 14.1667 10.5C14.1667 10.9602 13.7936 11.3333 13.3333 11.3333Z' fill='%233D94F6'/%3e%3c/svg%3e");
}

select {
    appearance: none;

    padding: var(--layout-select-padding);

    font-family: Erply Ladna;
    font-size: var(---layout-input-font-size);
    line-height: var(---layout-input-line-height);

	color: var(--color-secondary-black);
	
    background-color: transparent;
	background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M10.3883 12.3294L14.0048 8.49415C14.3507 8.12728 14.1057 7.5 13.6165 7.5L6.38358 7.5C5.89436 7.5 5.64936 8.12728 5.99529 8.49415L9.61173 12.3294C9.82618 12.5569 10.1739 12.5569 10.3883 12.3294Z' fill='%231D2433' fill-opacity='0.75'/%3e %3c/svg%3e");
    background-size: var(--layout-select-background-size);
    background-position: var(--layout-select-background-position);
    background-repeat: no-repeat;

    border: var(--layout-border-width) solid var(--color-light-neutral-450);
    border-radius: var(--layout-input-radius);
}

.select--presentational {
    padding: var(--layout-select-small-padding);
    
    font-size: var(--layout-input-small-font-size);
    line-height: var(--layout-input-small-line-height);
}

.label {
    font-size: var(--layout-text-tiny-font-size);
    line-height: var(--layout-text-tiny-line-height);
    color: var(--color-secondary-black);
}
