.list {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap);
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__item {
    display: flex;
    gap: var(--layout-gap);
    margin: 0;
    padding: 0;
    align-items: center;
}


.list__item:before {
    flex: none;
    content: '';
    display: inline-block;
    width: var(--layout-gap);
    height: var(--layout-gap);
    border-radius: 50%;
    background-color: var(--color-neutral-300);
}
