.notice {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--layout-text-small-font-size);
    line-height: var(--layout-text-small-line-height);
    letter-spacing: var(--layout-span-letter-spacing);
    color: var(--color-semantic-warning-text);
    background-color: var(--color-semantic-warning-background);
    padding: var(--layout-notice-padding);
    border-radius: var(--layout-span-radius);
    margin-top: var(--layout-border-width);
}
.notice:first-child {
    margin-top: 0;
}
