.presentation {
    padding: var(--layout-presentation-padding)
}


.dropdown {
    display: flex;
    gap: var(--layout-gap);
    align-items: baseline;
}

.pagination {
    display: flex;
    gap: var(--layout-gap);
}

.pagination > * {
    order: 1;
}

.pagination__current {
    text-align: center;
    width: var(--layout-pagination-current-width);
}
