.removable {
    background-color: var(--color-neutral-300);
    border-radius: var(--layout-button-radius);
    padding: 1rem var(--layout-padding-horizontal);
}
.removable__heading {
    margin: 0;
    color: var(--color-secondary-black);
    font-weight: 700;
    font-size: var(--layout-heading-font-size);
    line-height: var(--layout-heading-line-height);
}

.removable__close {
    align-self: flex-start;
    line-height: 0;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
}
