.screanreader {
    display: block;
    text-align: center;
    top: var(--layout-screenreader-top);
    left: var(--layout-screenreader-left);
    right: var(--layout-screenreader-right);
    bottom: auto;
    margin: 0 auto;
    width: auto;
    padding: var(--layout-button-padding);
    position: fixed;
    opacity: 0;
    transform: translateY(-100vw);
    border: var(--layout-border-width) solid var(--color-primary-300);
    border-radius: var(--layout-button-radius);
    font-weight: 400;
    font-size: var(--layout-button-font-size);
    line-height: var(--layout-button-line-height);
    color: var(--color-light-primary-800);
    background: var(--color-primary-100);
    transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
}
  
.screanreader:focus {
    opacity: 1;
    transform: translateY(0%);
}
