.search {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap);
}

.search > * {
    flex: 0;
    width: 100%;
}

.search__index {
    text-align: center;
    color: var(--color-light-disabled-black);
    font-size: var(--layout-font-size);
    line-height: var(--layout-form-inline-height);
}

.search__query {
    position: relative;
    display: flex;
    gap: var(--layout-gap-small);
    flex-direction: var(--layout-search-query-flex-directon);
}

.search__input[type="text"] {
    flex: 3 1;
    padding: var(--layout-input-search-padding);
    font-size: var(--layout-input-font-size);
    line-height: var(--layout-input-line-height);
    width: 100%;

    background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.79166 8.74999C4.79166 6.56386 6.56386 4.79166 8.74999 4.79166C10.9361 4.79166 12.7083 6.56386 12.7083 8.74999C12.7083 10.9361 10.9361 12.7083 8.74999 12.7083C6.56386 12.7083 4.79166 10.9361 4.79166 8.74999ZM8.74999 3.54166C5.87351 3.54166 3.54166 5.87351 3.54166 8.74999C3.54166 11.6265 5.87351 13.9583 8.74999 13.9583C9.96796 13.9583 11.0883 13.5403 11.9753 12.8398C11.9988 12.876 12.0263 12.9102 12.058 12.9419L16.2247 17.1086C16.4688 17.3527 16.8645 17.3527 17.1086 17.1086C17.3527 16.8645 17.3527 16.4688 17.1086 16.2247L12.9419 12.058C12.9102 12.0263 12.876 11.9988 12.8398 11.9753C13.5403 11.0883 13.9583 9.96796 13.9583 8.74999C13.9583 5.87351 11.6265 3.54166 8.74999 3.54166Z' fill='%231D2433' fill-opacity='0.5'/%3e %3c/svg%3e");
    background-size: var(--layout-input-line-height);
    background-position: var(--layout-icon-search-left) center;
    background-repeat: no-repeat;
}

.search__button {
    flex: 1 0;
    width: 100%;
}
