.state {
    display: inline-block;
    font-size: var(--layout-text-small-font-size);
    line-height: var(--layout-text-small-line-height);
    letter-spacing: var(--layout-span-letter-spacing);
    text-transform: uppercase;
    padding: var(--layout-state-padding);
    border-radius: var(--layout-span-radius);
    text-align: center;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    margin-bottom: var(--layout-state-margin-bottom);
}

.state:before {
    content: '';
    display: inline-block;
    width: var(--layout-gap);
    height: var(--layout-gap);
    margin-right: calc(var(--layout-gap) / 2);
    border-radius: 50%;
    background-color: currentColor;
}

.state--complete {
    color: var(--color-semantic-complete-text);
    background-color: var(--color-semantic-complete-background);
}

.state--pending {
    color: var(--color-semantic-pending-text);
    background-color: var(--color-semantic-pending-background);
}

.state--progress {
    color: var(--color-semantic-progress-text);
    background-color: var(--color-semantic-progress-background);
}

.state--success {
    color: var(--color-semantic-success-text);
    background-color: var(--color-semantic-success-background);
}
