.table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
}

.table__row:has(:checked) {
    background-color: var(--color-primary-100);
}

.table__header,
.table__cell {
    font-size: var(--layout-font-size);
    line-height: var(--layout-line-height);

    padding: var(--layout-table-header-padding);
}

.table__header:first-child,
.table__cell:first-child {
    padding-left: var(--layout-padding-horizontal);
}

.table__header:last-child,
.table__cell:last-child {
    padding-right: var(--layout-padding-horizontal);
}


.table__header {
    font-weight: 600;
    background: var(--color-neutral-200);
    line-height: var(--layout-table-header-line-height);
    letter-spacing: var(--layout-span-letter-spacing);


    text-align: left;
}

.table__cell {
    padding: var(--layout-table-cell-padding);
    border-bottom: 1px solid var(--color-neutral-200);
    height: var(--layout-table-cell-height);
}

.table__cell > *:not(:last-child) {
    display: block;
}

.table__cell--control {
    width: var(--layout-table-cell-control-width);
    box-sizing: content-box;
    height: auto;
}

.table__cell--control input[type="checkbox"],
.table__cell--control button {
    margin: var(--layout-table-cell-control-margin);
}

.table__cell--control .button--inline {
    display: block;
    margin: 0 0 0 auto;
}

.table__cell--numeric {
    text-align: right;
}

.table--cell--type {
    width: var(--layout-table-cell-type-width);
}

.table--cell--date {
    width: var(--layout-table-cell-date-width);
}

.table--cell--name {
    width: var(--layout-table-cell-name-width);
}

.table--cell--location {
    width: var(--layout-table-cell-location-width);
}

.table--cell--state {
    width: var(--layout-table-cell-state-width);
}

.table--cell--total {
    width: var(--layout-table-cell-total-width);
}
