* {
    box-sizing: border-box;
}



html,
body {
    height: 100%;

    margin: 0;
    padding: 0;
    
    color: var(--color-font);
    background-color: var(--color-background);

    -webkit-font-smoothing: antialiased;
}



body {
    display: grid;
    
    grid-template-columns: var(--layout-columns);
    grid-template-rows: var(--layout-rows);
    grid-template-areas: var(--layout-areas);

    font-size: var(--layout-font-size);
    line-height: var(--layout-line-height);

    min-height: 100vh;
}



a {
    color: var(--color-light-primary-800);
    text-decoration: none;
}



svg {
    box-sizing: content-box;
    display: block;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--layout-header-margin);
    letter-spacing: var(--layout-header-letter-spacing);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
    margin-bottom: 0;
}



p {
    margin: var(--layout-textblock-margin);
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin: var(--layout-textblock-after-header-margin);
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}


svg[width="12"] {
    padding: .25rem;
    width: .75rem;
    height: .75rem;
}

svg[width="16"] {
    padding: .125rem;
    width: 1rem;
    height: 1rem;
}

svg[width="20"] {
    width: 1.25rem;
    height: 1.25rem;
}

svg[width="24"] {
    width: 1.5rem;
    height: 1.5rem;
}

input,
fieldset,
button,
select {
    appearance: none;
    -webkit-appearance: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}
