:root {
    font: 400 16px/20px Erply Ladna, Helvetica, sans-serif;

    --color-primary-white: #FFFFFF;
    --color-primary-black: #1D2433;
    --color-secondary-black: rgba(29, 36, 51, .75);

    --color-paragraph-300-light: rgba(29, 36, 51, .8);

    --color-background: #FFFFFF;
    --color-aside-background: #F8F9FC;

    --color-neutral-100: #F8F9FC;
    --color-neutral-200: #F1F3F9;
    --color-neutral-300: #E1E6EF;

    --color-light-neutral-450: #BFCBD9;
    --color-light-disabled-black: rgba(29, 36, 51, .5);

    --color-light-primary-800: #166EE8;
    --color-primary-100: #E8F1FE;
    --color-primary-300: #ACCBF6;
    --color-button-background: #F8F9FC;

    --color-semantic-pending-text: #1D2433;
    --color-semantic-pending-background: #F8F9FC;
    --color-semantic-progress-text: #3D8AF6;
    --color-semantic-progress-background: #E8F1FE;
    --color-semantic-success-text: #5ABB7A;
    --color-semantic-success-background: #F0FFF5;
    --color-semantic-warning-text: #E0593E;
    --color-semantic-warning-background: #FFEFEC;
    --color-semantic-complete-text: #1D2433;
    --color-semantic-complete-background: #F8F9FC;

    --layout-border-width: .063rem;

    --layout-columns: 1fr 25%;
    --layout-rows: auto 1fr;
    --layout-areas: "header header" "main aside";

    --layout-font-size: .875rem;
    --layout-line-height: 1.25rem;

    --layout-padding-vertical: 1rem;
    --layout-padding-horizontal: 1.5rem;

    --layout-gap: .5rem;
    --layout-gap-large: 1.25rem;
    --layout-gap-small: .25rem;
    
    --layout-text-small-font-size: .75rem;
    --layout-text-small-line-height: 1rem;
    --layout-text-tiny-font-size: .625rem;
    --layout-text-tiny-line-height: .875rem;

    --layout-header-padding: .5rem 1.5rem;
    --layout-header-letter-spacing: -.063rem;

    --layout-aside-padding: 1rem;
    --layout-aside-gap: 1.5rem;

    --layout-heading-font-size: 1.25rem;
    --layout-heading-line-height: 1.5rem;

    --layout-textblock-after-header-margin: .625rem 0 0;
    --layout-textblock-margin: 1rem 0;

    --layout-span-letter-spacing: .002rem;
    --layout-span-radius: .188rem;
    
    --layout-screenreader-top: 3rem;
    --layout-screenreader-left: 25vw;
    --layout-screenreader-right: 25vw;

    --layout-presentation-padding: .75rem 1.5rem;

    --layout-pagination-current-width: 1rem;

    --layout-input-font-size: 1rem;
    --layout-input-line-height: 1.25rem;
    --layout-input-padding: .5rem .625rem;
    --layout-input-radius: .25rem;
    --layout-input-search-padding: .5rem .563rem .5rem 2.375rem;
    --layout-input-small-font-size: .875rem;
    --layout-input-small-line-height: 1.25rem;

    --layout-select-padding: .313rem 2rem .313rem .625rem;
    --layout-select-background-size: 1rem;
    --layout-select-background-position: calc(100% - .5rem) center;
    --layout-select-small-padding: .313rem 1.5rem .313rem .625rem;

    --layout-button-font-size: 1rem;
    --layout-button-line-height: 1.25rem;
    --layout-button-padding: .563rem 1.063rem;
    --layout-button-radius: .313rem;
    --layout-button-text-padding-side: .5rem;
    --layout-button-default-padding: .563rem .25rem;
    --layout-button-presentational-line-height: 1rem;
    --layout-button-functional-padding: .563rem;
    --layout-button-presentational-padding: .313rem .313rem;
    --layout-button-accent-line-height: 1.25rem;
    --layout-button-accent-padding: .688rem .25rem;
    --layout-button-accent-margin: -.125rem 0;

    --layout-table-header-padding: .813rem .25rem;
    --layout-table-header-line-height: 1.063rem;
    --layout-table-cell-padding: .469rem .25rem;
    --layout-table-cell-height: 4rem;
    --layout-table-cell-control-margin: -.156rem -.156rem -.25rem;
    --layout-table-cell-control-width: 5%;
    --layout-table-cell-type-width: 18%;
    --layout-table-cell-date-width: 14%;
    --layout-table-cell-name-width: 22%;
    --layout-table-cell-location-width: 12%;
    --layout-table-cell-state-width: 13%;
    --layout-table-cell-total-width: 10%;

    --layout-icon-search-left: .5rem;

    --layout-search-query-flex-directon: row;

    --layout-checkbox-size: 1.25rem;

    --layout-form-inline-height: 1.063rem;

    --layout-notice-padding: .125rem .25rem;
    --layout-state-padding: .25rem .5rem;
    --layout-state-margin-bottom: -.25rem;
}

@media screen and (max-width: 768px) {
    :root {
        --layout-columns: auto;
        --layout-rows: auto auto auto;
        --layout-areas: "header" "main" "aside";

        --layout-header-padding: var(--layout-gap) var(--layout-aside-padding);

        --layout-padding-vertical: var(--layout-gap);
        --layout-padding-horizontal: var(--layout-aside-padding);
        --layout-presentation-padding: var(--layout-gap) var(--layout-aside-padding);
        --layout-table-cell-control-width: 1.25rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    :root {
        --layout-search-query-flex-directon: column;
    }
}
