@font-face {
    font-display: swap;
    font-family: Erply Ladna;
    font-weight: 400;
    src: url(fonts/ErplyLadna-Regular.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Erply Ladna;
    font-weight: 500;
    src: url(fonts/ErplyLadna-Medium.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Erply Ladna;
    font-weight: 600;
    src: url(fonts/ErplyLadna-SemiBold.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Erply Ladna;
    font-weight: 700;
    src: url(fonts/ErplyLadna-Bold.woff2) format("woff2");
}
