body {
    display: grid;
    
    grid-template-columns: var(--layout-columns);
    grid-template-rows: var(--layout-rows);
    grid-template-areas: var(--layout-areas);

    font-size: var(--layout-font-size);
    line-height: var(--layout-line-height);

    min-height: 100vh;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--layout-gap);
}

.header {
    grid-area: header;

    padding: var(--layout-header-padding);

    background-color: var(--color-neutral-300);
}

.header__title {
    font-size: var(--layout-heading-font-size);
    line-height: var(--layout-heading-line-height);
    font-weight: 400;
    color: var(--color-secondary-black);

    margin: 0;
    padding: 0;
}



.main {
    grid-area: main;
}



.aside {
    grid-area: aside;

    display: flex;
    flex-direction: column;
    padding: var(--layout-aside-padding);
    background-color: var(--color-aside-background);
    gap: var(--layout-aside-gap);
}

.aside a {
    color: var(--color-secondary-black);
}

.aside_header {
    display: flex;
    flex: 1;


}

.aside__heading {
    font-size: var(--layout-heading-font-size);
    line-height: var(--layout-heading-line-height);
    color: var(--color-secondary-black);
    font-weight: 400;
    margin: 0;
}

.scrollable {
    overflow: auto;
    min-width: 33rem;
}


.nobr {
    white-space: nowrap;
}


.currency {
    white-space: nowrap;
}
